:root {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --github-icon: url(./github-mark-white.svg);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #242424;
    --bg-color: rgba(255, 255, 255, 0.87);
    --github-icon: url(./github-mark-black.svg);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#source-code-link:before {
  background: var(--github-icon) no-repeat 0 0;
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 5px;
  content: "";
  background-size: 1em 1em;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

fieldset {
  border-color: var(--text-color);
  border-style: solid;
}

.register-config {
  display: inline-flex;
  gap: 24px;
  flex-wrap: wrap;
}

.register-configs {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

#transformation {
  text-align: center;
  font-size: 1.5em;
  margin-top: 24px;
}

.error {
  color: #ea6060;
}

pre {
  text-align: left;
  display: inline-block;
}
